@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins)
}

.container {
  @apply w-full max-w-lg mx-auto;
}

.button-small {
  @apply py-0.5 px-2 rounded text-sm uppercase font-bold bg-linear-to-br disabled:opacity-50 hover:brightness-110;
  
}

.button.gradient {
  @apply from-blue-400 via-purple-500 to-pink-600 text-white;
}

.button.red {
  @apply bg-red-500 text-white;
}